button {
	width: 70px;
    height: 35px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Microsoft JhengHei;
}
button:hover {
	opacity: 0.9;
}